# Variables de entorno Elena PRO
GEMINI_API_KEY=
SUPABASE_URL=https://nhbdegzkbjvesccthlxg.supabase.co
SUPABASE_KEY=sb_publishable_t3KbG4AA-Zva8bzRlz3ylQ_et-rkexI
# Directorio persistente de datos (Opcional, por defecto ./data en local o ruta de Persistent Disk en Render)
DATA_DIR=
